@import "tailwindcss";

@theme {
  --color-background: #10141E;
  --color-semi-dark-blue: #161D2F;
  --color-dark-blue: #10141E;
  --color-red: #FC4747;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
}

