@import "tailwindcss";

@theme {
  --color-background: #10141E;
  --color-semi-dark-blue: #161D2F;
  --color-dark-blue: #10141E;
  --color-red: #FC4747;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-350: 28px;
  --spacing-400: 32px;
  --spacing-450: 36px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
}

/* Override browser autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #161D2F inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #FC4747 !important;
  transition: background-color 5000s ease-in-out 0s;
}
